/*BASIC SETTING*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    height: 100vh;
}

/*UTILITIES*/

.btn{
    padding: 6px;
    color: white;
    background: rgb(255, 255, 255, .2);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.pdng{
    padding: 18px;
}

/*HEADER*/

header{
    background-color: black;
    text-align: right;
}

/*MAIN*/

main{
    flex-grow: 1;
    padding: 20px 0;
    overflow: auto;
    background: black;
}

.fold{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.fold li{
    width: 400px;
    margin: 5px;
}

.people{
    height: 250px;
    position: relative;
}

.people img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.people .name{
    position: absolute;
    bottom: 0;
    left: 0;
    background: grey;
}

/*FOOTER*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.side-lt{
    display: flex;
    list-style: none;
    padding: 5px 0;
    color: white;
}

.side-ico{
    text-align: center;
    margin: 0 15px;
}

.side-ico .ico{
    display: block;
    font-size: 21px;
    margin-bottom: 5px;
}

.side-c{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px;
    color: white;
}

.side-c .fa-share-square{
    color: greenyellow;
}

.side-ico{
    text-align: center;
    margin: 0 15px;
}

.side-ico .ico{
    display: block;
    font-size: 21px;
    margin-bottom: 5px;
}

.side-rt .btn{
    color: red;
}

